<div class="banner-container">
  <%= image_tag("logo.png", alt: "Logo", class: "logo-image") %>
  <h1>Your Booking</h1>
</div>

<div class="container booking-container">
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="booking-content">
        <button class="grey-button2">Booking Request</button>
        <div class="booking-details">
        <%= cl_image_tag booking.item.photos.first.key, height: 200, class: "booking-image" %>
          <p class="booking-title"><%= booking.item.title %></p>
        </div>
        <p><%= booking.status %></p>
        <%= link_to "Accept", "#" %>
        <%= link_to "Decline", "#" %>
      </div>
      <div class="booking-line"></div>
    </div>
  <% end %>
</div>
