<div class="banner-container">
  <%= image_tag("logo.png", alt: "Logo", class: "logo-image") %>
  <h1>Bookings</h1>
</div>

<% if @bookings.any? %>
<div class="container booking-container">
  <h2>Your bookings</h2>
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="booking-content">
        <div class="booking-details">
        <%= cl_image_tag booking.item.photos.first.key, height: 200, class: "booking-image" %>
          <p class="booking-title"><%= booking.item.title %></p>
        </div>
        <p>Status: <%= booking.status %></p>
      </div>
      <div class="booking-line"></div>
    </div>
  <% end %>
</div>
<% end %>

<% if @requests.any? %>
  <div class="container booking-container">
    <h2>Your requests</h2>
    <% @requests.each do |request| %>
      <div class="booking-card">
        <div class="booking-content">
          <div class="booking-details">
          <%= cl_image_tag request.item.photos.first.key, height: 200, class: "booking-image" %>
            <p class="booking-title"><%= request.item.title %></p>
          </div>
          <p>Status: <%= request.status %></p>
          <div class="d-flex my-3">
            <%= link_to "Accept", booking_approve_path(request), data: { turbo_method: :patch }, class: "orange-button px-3 text-decoration-none me-3" %>
            <%= link_to "Decline", booking_decline_path(request), data: { turbo_method: :patch }, class: "yellow-button px-3 text-decoration-none me-3" %>
          </div>
        </div>
        <div class="booking-line"></div>
      </div>
    <% end %>
  </div>
<% end %>
