<div class="banner-container">
  <%= image_tag("logo.png", alt: "Logo", class: "logo-image") %>
  <h1>Your Booking</h1>
</div>

<div class="booking-container my-5">
  <div class="grey-button2">
    Bookings
  </div>

<div class="container show-container">
  <% @bookings.each do |booking| %>
    <div class="card">
    <div class="card-image">
      <%= cl_image_tag booking.item.photos.first.key, height: 200, class: "card-image" %>
      <p><%= booking.item.title %></p>
      <p><%= booking.status %></p>
      <%= link_to "Accept", "#" %>
      <%= link_to "Decline", "#" %>
    </div>
    <% end %>
  </div>
</div>
