<div class="container home">
  <div class="buttons">
    <%= link_to "sign up", new_user_registration_path, class: "button" %>
    <%= link_to "log in", new_user_session_path, class: "button" %>
  </div>

  <div class="position-reltive">
    <h1>Fashion with a purpose: <span class="text-orange">Rent, Reuse</span>, and make a Sustainable Statement!</h1>
    <div class="green-logo">
      <%= image_tag "greenlogo1.png", width: 200 %>
    </div>
  </div>

  <%= link_to "Get started", items_path, class: "orange-button" %>

  <div>
    <button class="button-browse">browse</button>
    <div class="images">
      <%= image_tag "dress1.png" %>
      <%= image_tag "dress2.png" %>
      <%= image_tag "dress3.png" %>
    </div>
  </div>
  <%= image_tag "logo2.png", width: 200 %>
</div>
