<div class="banner-container">
  <%= image_tag("logo.png", alt: "Logo", class: "logo-image") %>
  <h1>Browse Items for Rent</h1>
  <h2>Unlock Your Style, Rent with Confidence</h2>
</div>

<div class="button-container">
  <%= link_to "Go Back", root_path, class: "button" %>
</div>

<div class="container">
  <div class="filter-sort">
    <%= form_tag(items_path, method: :get) do %>
      <%= select_tag(:category, options_for_select(Item.distinct.pluck(:category)), include_blank: 'All Categories', class: 'filter-select') %>
      <%= select_tag(:sort, options_for_select({ 'Price Ascending' => 'price_asc', 'Price Descending' => 'price_desc' }), include_blank: 'Sort By', class: 'filter-select') %>
      <%= submit_tag 'Filter', class: 'filter-button' %>
    <% end %>
  </div>

  <h1>Dresses</h1>
  <div class="items-container">
    <div class="card-grid-container">
      <% @dresses.each_with_index do |dress, i| %>
        <%= link_to item_path(dress) do %>
          <div class="card">
            <% if dress.photos.attached? %>
              <%= cl_image_tag dress.photos.first.key, height: 200, class: "card-image" %>
            <% else %>
              <%= image_tag("dresses#{(i)%8 + 1}.png", alt: "Dress", height: 200, class: "card-image") %>
            <% end %>
            <div class="card-details">
              <h2 class="card-title"><%= dress.title %></h2>
              <p class="card-price"><%= number_to_currency(dress.price) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <h1>Tops</h1>
  <div class="items-container">
    <div class="card-grid-container">
      <% @tops.each_with_index do |top, i| %>
        <%= link_to item_path(top) do %>
          <div class="card">
            <%= image_tag("tops#{(i)%8 + 1}.png", alt: "Tops", height: 200, class: "card-image") %>
            <div class="card-details">
              <h2 class="card-title"><%= top.title %></h2>
              <p class="card-price"><%= number_to_currency(top.price) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <h1>Bottoms</h1>
  <div class="items-container">
    <div class="card-grid-container">
      <% @bottoms.each_with_index do |bottom, i| %>
        <%= link_to item_path(bottom) do %>
          <div class="card">
            <%= image_tag("bottoms#{(i)%8 + 1}.png", alt: "Bottoms", height: 200, class: "card-image") %>
            <div class="card-details">
              <h2 class="card-title"><%= bottom.title %></h2>
              <p class="card-price"><%= number_to_currency(bottom.price) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
