<div class="banner-container">
  <h1 class="center-text">List an item for rent</h1>
</div>

  <div class="card p-100 m-50">
    <h3 class="center-text">Add product details</h3>
      <%= simple_form_for(@item) do |f| %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :brand %>
        <%= f.input :fabric_details %>
        <%= f.input :size %>
        <%= f.input :original_price, label: 'Original price in $' %>
        <%= f.input :price, label: 'Daily rental price in $' %>
        <%= f.button :submit, 'Save', class: 'yellow-button' %>
      <% end %>
   </div>
</div>

<div class="bottom_bar">

</div>
