<div class="container p-2 m-10">

  <div>
    <h1 class="center_text">List an item for rent</h1>
  </div>

  <div>
    <h3 class="center_text">Add pictures of your item</h3>
    <p>We recommend capturing the item only in a flat-lay position, taken from directly above the item.</p>
    <! -- add photo functionality -->
  </div>

  <div>
    <h3 class="center_text">Add pictures of your item</h3>
      <%= simple_form_for(@item) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :brand %>
        <%= f.input :fabric_details %>
        <%= f.input :original_price %>
        <%= f.input :size %>
        <%= f.submit %>
      <% end %>
   </div>
</div>
